h2 {
    text-align: center;
    width: 100%;
}

.tourHeader {
    display: flex;
}

.filters {
    display: block;
    margin: 0 1.65% 20px;
    width: 200px;
}

.filters .dropdown {
    width: 200px;
}

.cartContainer {
    margin-left: auto;
    margin-right: 3%;
    margin-bottom: 20px;
    position: relative;
    width: 50px;
}

.cartContainer .cart {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 100%;
    z-index: 5;
}

.cartContainer .cartTotal {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 35px;
}

.cartContainer .counter {
    color: white;
    background-color: navy;
    border-radius: 50px;
    padding: 0 6px;
    position: absolute;
    top: 0;
    left: 45px;
}

.toursContainer {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}